body{
    font-family:sans-serif;
    text-align:center;
    min-width:260px;
    background-image:url("https://images.pexels.com/photos/672630/pexels-photo-672630.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    }
  
  .container{
    width:100%;
    margin: 0 auto;
    background: #12E71E;
  }
  
  img{
    max-width:100%;
    height:auto;
    display:block;
  }
  
  #img-div{
    margin-top:20px;
    margin-bottom:20px;
    max-width:100%;
    width:75%;
    width:100%;
    border:16px solid black;
    background:solid whitesmoke;
    height:auto;
    margin:-16px;
  }
  
  #img-caption{
    margin:20px;
  }
  
  #main{
    margin:30px auto;
    padding:15px;
    border:0px solid;
    background-color: #12E71E;
    border-radius:5px;
    align-items:center;
  }
  
  #headline{
    margin-top:55px;
    text-align:left;
    text-align: center;
  }
  
  #title{
    font-size:20px;
    background-color:black;
    color:white;
  }
  
  ul{
    max-width:750px;
    margin: 0 auto;
    text-align:left;
  }
  
  li{
    margin:15px;
    text-align:left;
    margin-left:225px;
    margin:flow-right;
  }
  
  blockquote{
    font-style:italic;
  }
  
  @media(min-width:576px){
    .container{
      max-width:540px;
    }
  }
  
  @media(min-width:768px){
    .container{
      max-width:820px;
    }
  }
  
  @media(min-width:480px){
    #main{
      padding:15px;
    }
  }